html body {
	font-family: $lato;
}

a {
	&:hover {
		text-decoration: none;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1276px;
	}

	.d-flex {
		.col-md-9 {
			width: 73.6%;
		}

		.col-md-3 {
			width: 26.4%;
		}
	}
}
